<h2>Expedir certificado</h2>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="password">
      Contraseña:
    </label>
    <input id="password" type="password" formControlName="password">
  </div>
  <div>
    <label for="logoCode">
      Logo:
    </label>
    <select id="logoCode" name="select" formControlName="logoCode">
      <option [value]="logo.configCode" *ngFor="let logo of logos">{{logo.configName}}</option>
    </select>
</div>
  <div>
    <label for="studentName">
      Nombre completo:
    </label>
    <input id="studentName" type="text" formControlName="studentName">
  </div>
  <div>
    <label for="courseName">
      Curso:
    </label>
    <input id="courseName" type="text" formControlName="courseName">
  </div>
  <div>
      <label for="teacherCode">
        Firma docente:
      </label>
      <select id="teacherCode" name="select" formControlName="teacherCode">
        <option [value]="firma.configCode" *ngFor="let firma of firmas">{{firma.configName}}</option>
      </select>
  </div>
  <div>
      <label for="hours">
        Horas:
      </label>
      <input id="hours" type="text" formControlName="hours">
  </div>
  <div>
    <label for="customId">
      Desea especificar un ID? * Si coloca un valor que ya existe, lo reemplazará *
    </label>
    <input id="customId" type="text" formControlName="customId">
</div>
  <button class="button" type="submit">Generar</button>
</form>
<a href="{{url}}" target="_blank">{{url}}</a>
